/*main*/
.main{
    width: 1150px;
    height: auto;
    margin: auto;
    background-color: white;
    margin-top: 20px;
}


@media only screen and (max-width: 340px) {
.main{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: white;
    margin-top: 5px;
}
}

section.highlight{
    width: 800px;
    height: 400px;
    background-color: rgb(199, 199, 43);
    float: left;
}
@media only screen and (max-width: 340px) {
section.highlight {
    width: 340px;
    height: 200px;
    background-color: rgb(199, 199, 43);
    float: left;
}
}
section.highlight article{
    height: inherit;
    width: 300px;
    background-color: red;
    float: left;
}
@media only screen and (max-width: 340px) {
section.highlight article {
    height: inherit;
    width: 340px;
    background-color: red;
    float: left;
}

}
.highlight-img{
    height: inherit;
    width: 500px;
    background-color: green;
    float: right;
}
.highlight-img img{
    max-width: 100%;
    max-height: 100%;
}
section.info{
    width: 330px;
    height: 650px;
    background-color: white;
    float: right;
}
@media only screen and (max-width: 340px) {
section.info {
    width: 340;
    height: 650px;
    background-color: white;
    float: left;
}
}
.category-search{
    width: inherit;
    height: 250px;
    background-color: yellow;
    float: left;
}
@media only screen and (max-width: 340px) {
    .category-search{
    width: inherit;
    height: 200px;
    background-color: yellow;
    float: left;
}
}

.category-list{
    width: inherit;
    height: 150px;
    background-color:green;
    float: left;
}
@media only screen and (max-width: 340px) {

    .category-list{
    width: inherit;
    height: 150px;
    background-color:green;
    float: left;
}
}
.government-notice{
    width: inherit;
    height: 220px;
    background-color:red;
    float: left;
    margin-top: 30px;
}
@media only screen and (max-width: 340px) {
.government-notice{
    width: inherit;
    height: 220px;
    background-color:red;
    float: left;
    margin-top: 1px;
  
}
}

section.Tender{
    width: 800px;
    height: 220px;
    background-color: white;
    float: left;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.tender-ads{
    height: inherit;
    width: 220px;
    background-color: white;
    float: left;
}
.tender-img{
    height: 150px;
    width: inherit;
    background-color: yellow;
    float: left;
}
.tender-img img{
    max-width: 100%;
    max-height: 100%;
}
.tender-text{
    height: 70px;
    float: left;
    width: inherit;
    background-color: green;
}
