*{
    padding: 0;
    margin: auto;
    
    font-family: sans-serif;
}
body{
    width: 1360px;
}
/*header*/
header{
    overflow: hidden;
    width: 100%;
}
.top{
    height: 130px;
    background-color:#ffff;
    width: 100%;
}
.social-media{
    float: left;
    width:400px;
    margin-left: 100px;
}
.fa{
  padding: 2px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin: 60px 0 0 0;
}
.fa:hover {
    opacity: 0.7;
}
.tender-logo{
    height: 130px;
    width: 230px;
    background:inherit;
    float: left;
    margin-left:50px;
}
.tender-logo img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.btn{
    float: left;
    height: 40px;
    width: 110px;
    margin: 40px 0 0 380px;
}
.btn button{
    height: inherit;
    width: inherit;
    background-color: #fff;
    border-color:rgb(22, 114, 175) ;
    border-radius: 3px;
}
.btn a{
    text-decoration: none;
}
/*navbar*/
nav{
    width: 100%;
    height: 50px;
    background-color:rgb(22, 114, 175);
    float: left;
}
.menu{
    height: inherit;
    width: 550px;
    background-color: inherit;
    float: left;
    margin-left: 90px;
}
.menu a{
    font-size: 20px;
    line-height: 50px;
    margin-left: 20px;
    text-decoration: none;
    color: ivory;
}
/*search bar*/
form.search{
    height: inherit;
    width: 500px;
    background-color: inherit;
    float: right;
    margin-right: 90px;
}
form.search input{
    width: 400px;
    height: 30px;
    border-radius: 7px;
    margin-top: 10px;
    font-size: 14px;
    padding-left: 10px;
    border-style: none;
    float: left;
}
form.search button{
    height: inherit;
    width: 100px;
    background-color: inherit;
    border-style: none  ;
}
/*news slider*/
.breaking-news{
    height: 40px;
    width: 90%;
    float: left;
    background-color: rgb(35, 35, 37);
    padding:0 5% 0 5%;
}
.breaking-news marquee{
    color: #fff;
    line-height: 40px;
}
/*footer*/
footer{
    overflow: hidden;
    width: 100%;
    background-color: black;
    height: auto;
    margin-top: 20px;
    float: left;
}
footer hr{
    width: 98%;
    background-color: white;
    height: 1px;
    border: none;
}
/*footer-nav*/
.flex-menu{
    display: flex;
    justify-content: center;
    background-color:inherit;
    width: 100%;
    height: 40px;
}
.footer-menu{
    height: inherit;
    width: 460px;
    background-color: inherit;
    float: left;
}
.footer-menu a{
    font-size: 17px;
    line-height: 50px;
    margin-left: 20px;
    text-decoration: none;
    color: ivory;
}
/*footer-description*/
.footer-description{
    height: 180px;
    background-color: inherit;
    width: 85%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.footer-description h2{
    color: #fff;
    padding-top: 10px;
    text-decoration: underline;
}
/*about us*/
.footer-aboutus p{
    width: inherit;
    color: #fff;
    font-size: 14px;
    text-align: justify;
    word-wrap: break-word;
    margin-top: 10px;
}
.footer-aboutus{
    width: 500px;
    height: inherit;
    background-color: inherit;
    float: left;
    color: #fff;
    font-size: 14px;
    padding:0 10px 0 10px;
    text-align: justify;
    text-decoration: none;
}
.footer-aboutus a{
    text-decoration: underline;
    color: #fff;
}
/*company*/
.footer-company{
    width: 260px;
    height: inherit;
    background-color: inherit;
    float: left;
    padding-left: 40px;
}
.footer-company a{
   text-decoration: none;
   color: ivory;
   display: block;
   float: none;
   font-size: 14px;
   margin-top: 5px;
}
/*contact*/
.footer-contact{
    width: 280px;
    height: inherit;
    background-color: inherit;
    float: left;
}
.footer-contact ul{
    list-style:none;
    padding: 5px 0 0 20px
}
.footer-contact li{
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}
.footer-contact i{
    color: #fff;
    font-size: 14px;
    margin-top:5px;
    padding:0;
}
.footer-contact a{
    color: #fff;
    margin-top: 5px;
    float: left;
}
/*copyright*/
.copyright-container{
    height: 30px;
    background-color: inherit;
}
.copyright-container p{
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}