*{
    padding: 0;
    margin: auto;
    font-family: sans-serif;
}
body{
    width: 1360px;
}
/*header*/
header{
    width: 100%;
    height: auto;
}
.top{
    height: auto;
    background-color:#ffff;
    width: 100%;
    overflow: hidden;
}
.social-media{
    float: left;
    width:400px;
    height: auto;
    margin-left: 100px;
}
.fa{
  padding: 2px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin: 60px 0 0 0;
}
.fa:hover {
    opacity: 0.7;
}
@media only screen and (max-width: 400px){
    .social-media{
        float: none;
        margin:0;
        width: 100%;
        height: 40px;
    }
    .fa{
        margin: 20px 10px 0 0;
        float: none;
      }
    .fa-instagram{
        padding-left:120px ;
    }
}
.tender-logo{
    height: 130px;
    width: 230px;
    background:inherit;
    float: left;
    margin-left:50px;
}
.tender-logo img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
@media only screen and (max-width: 400px){
    .tender-logo{
        height: 130px;
        width: 100%;
        float: none;
    }
    .tender-logo img{
        margin-left: 80px;
    }
}
.btn{
    float: left;
    height: 40px;
    width: 110px;
    margin: 40px 0 0 380px;
}
.btn button{
    height: inherit;
    width: inherit;
    background-color: #fff;
    border:2px solid blue ;
    border-radius: 3px;
}
.btn a{
    text-decoration: none;
}
@media only screen and (max-width: 400px){
    .btn{
        float: none;
        height: 40px;
        width: 400px;
        margin:0 0 5px 0;
        display: flex;
        justify-items: center;
    }
    .btn button{
        height: inherit;
        width: 110px;
        background-color: #fff;
        border:2px solid blue ;
        border-radius: 3px;
    }
}
/*navbar*/
nav{
    width: 100% ;
    height: 50px;
    background-color:rgb(22, 114, 175);
    float: left;
}
.navbar{
    height: auto;
    width: 550px;
    background-color: inherit;
    float: left;
    margin-left: 90px;
    overflow: hidden;
	z-index:2;
}
.navbar a{
    font-size: 20px;
    line-height: 50px;
    margin-left: 20px;
    text-decoration: none;
    color: ivory;
    text-transform: uppercase;
    float: left;
}
.icon{
    display: none;
}
@media screen and (max-width: 400px) {
    .navbar{
        width: 400px;
        margin: 0;
    }
	.navbar a:not(:first-child){
		display: none;
	}
	.navbar a.icon {
		float: right;
        display: block;
        margin-right: 10px;
	}
}
@media screen and (max-width: 600px) {
	.navbar.responsive {
		position: relative;
	}
  	.navbar.responsive .icon {
   		position: absolute;
    	right: 0;
    	top: 0;
 	 }
  	.navbar.responsive a {
		display: block;
    	float: none;
        text-align: left;	
 	 }
}
/*sticky nav*/
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
/*search bar*/
form.search{
    height: inherit;
    width: 500px;
    background-color: inherit;
    float: right;
    margin-right: 90px;
}
form.search input{
    width: 400px;
    height: 30px;
    border-radius: 7px;
    margin-top: 10px;
    font-size: 14px;
    padding-left: 10px;
    border-style: none;
    float: left;
}
form.search button{
    height: 40;
    width: 50px;
    background-color: inherit;
    border-style: none  ;
}
svg{
    height: 22px;
    width: 22px;
    padding: 12px 0 0 0;
    fill:white;
}
.breaking-news{
    height: 40px;
    width: 90%;
    float: left;
    background-color: rgb(35, 35, 37);
    padding:0 5% 0 5%;
}
.breaking-news marquee{
    color: #fff;
    line-height: 40px;
}
@media screen and (max-width: 400px) {
    .breaking-news{
        height: 40px;
        width:400px;
        float: left;
        padding:0;  
    }
    .breaking-news marquee{
        color: #fff;
        line-height: 40px;
    }
}
/*footer*/
footer{
    overflow: hidden;
    width: 100%;
    background-color: black;
    height: auto;
    margin-top: 20px;
    float: left;
}
footer hr{
    width: 98%;
    background-color: white;
    height: 1px;
    border: none;
}
/*footer-nav*/
.flex-menu{
    display: flex;
    justify-content: center;
    background-color:inherit;
    width: 100%;
    height: 40px;
}
.footer-menu{
    height: inherit;
    width: 460px;
    background-color: inherit;
    float: left;
}
.footer-menu a{
    font-size: 17px;
    line-height: 50px;
    margin-left: 20px;
    text-decoration: none;
    color: ivory;
}
@media screen and (max-width: 400px) {
    .flex-menu{
        display: none;
    }
}
/*footer-description*/
.footer-description{
    height: 180px;
    background-color: inherit;
    width: 85%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.footer-description h2{
    color: #fff;
    padding-top: 10px;
    text-decoration: underline;
}
@media screen and (max-width: 400px) {
    .footer-description{
        height: auto;
        width: 100%;
        display: block;
        margin:0;
        padding: 0;
    }
}
/*about us*/
.footer-aboutus p{
    width: inherit;
    color: #fff;
    font-size: 14px;
    text-align: justify;
    word-wrap: break-word;
    margin-top: 10px;
}
.footer-aboutus{
    width: 500px;
    height: inherit;
    background-color: inherit;
    float: left;
    color: #fff;
    font-size: 14px;
    padding:0 10px 0 10px;
    text-align: justify;
    text-decoration: none;
}
.footer-aboutus a{
    text-decoration: underline;
    color: #fff;
}
@media screen and (max-width: 400px) {
    .footer-aboutus{
        width: 370px;
        float: none;
        margin-left: 15px;
        padding:0 ;
    }
    .footer-aboutus p{
        width: inherit;
    }
}
/*company*/
.footer-company{
    width: 260px;
    height: inherit;
    background-color: inherit;
    float: left;
    padding-left: 40px;
}
.footer-company a{
   text-decoration: none;
   color: ivory;
   display: block;
   float: left;
   font-size: 14px;
   margin-top: 5px;
}
@media screen and (max-width: 400px) {
    .footer-company{
        width: 100%;
        float: none;
        padding: 0;
        margin-left: 15px;
    }
    .footer-company a{
       float: none;
       font-size: 14px;
       margin-top: 5px;
       padding-left: 20px;
    }
}
/*contact*/
.footer-contact{
    width: 280px;
    height: inherit;
    background-color: inherit;
    float: left;
}
.footer-contact ul{
    list-style:none;
    padding: 5px 0 0 20px
}
.footer-contact li{
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}
.footer-contact i{
    color: #fff;
    font-size: 14px;
    margin-top:5px;
    padding:0;
}
.footer-contact a{
    color: #fff;
    margin-top: 5px;
    float: left;
}
@media screen and (max-width: 400px) {
    .footer-contact{
        width: 280px;
        margin: 15px;
        float: left;
    }
    .footer-contact li{
        color: #fff;
        font-size: 14px;
        margin-top: 10px;
    }
    .footer-contact i{
        font-size: 14px;
    }
    .footer-contact a{
        margin-top: 5px;
        padding: 0;
    }
}
/*copyright*/
.copyright-container{
    height: 30px;
    background-color: inherit;
}
.copyright-container p{
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
@media screen and (max-width: 400px) {
    .copyright-container{
        width: 100%;
        height: 30px;
        float: none;
    }
    .copyright-container p{
        line-height: 30px;
        color: #fff;
        font-size: 15px;
        float: left;
        padding-left: 60px;
    }
}
