<!DOCTYPE html>
<html>
<head>
<title>Tender</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="style/style.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1 sty ><a href="#">Tender</a></h1>
      <p><strong>Tender for better</strong></p>
    </div>
    <div id="newsletter">
      <p>Sign in for the latest updates !!</p>
      <form>
          <input type="text" value="Email"  onfocus="this.value=(this.value=='Email')? '' : this.value ;" />
          <input type="text" value="Password"  onfocus="this.value=(this.value=='Password')? '' : this.value ;" />
          <input type="submit" name="login" id="news_go" value="Sign in" />
      </form>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li><a href="FAQPAGE.html">FAQ Page</a></li>
        <li class="last"><a href="ABOUTUS.html">About Us</a></li>
      </ul>
    </div>
    <div id="search">
      <form>
          <input type="text" value="Search our Bid"  onfocus="this.value=(this.value=='Search Our project')? '' : this.value ;" />
          <input type="submit" name="go" id="go" value="Search" />
     </form>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col3">
  <div id="breadcrumb">
    <ul>
      <li class="first">You Are Here</li>
      <li>>></li>
      <li><a href="#">page</a></li>
      <li>>></li>
      <li class="current"><a href="#">About Us</a></li>
    </ul>
  </div>
</div>
<div class="wrapper col3">
  <div id="intro">
    <div class="fl_left">
      <img class="imgl" src="images/demo/locationimage.PNG" width="500" height="250" alt="" />
    </div>
    <div class="fl_right"><img src="images/demo/bitprice.png" width="350" height="270" alt="" /></div>
    <br class="clear" />
      <div id="column">
      <div class="subnav">
        <h2>Contact Us</h2>          
                  <a href="#"> Location: Softwarica College Of IT & E-Commerce</a>
                  <a href="#">Address: Gyaneshwor Marg, Kathmandu 44600</a>
          <a href="#">Phone: 01-4425661</a>
      </div>
  </div>
</div>
<div class="wrapper col5">
  <div id="container">
    <div id="content">
	<p>Tender123 comprises of a young, dynamic & experienced team who is passionate about just one thing "Helping you in exploring business opportunities by providing right Tenders information & related services"

Tender123 is your leading edge partner in finding the right tenders.
 We understand your needs; know the opportunities that exist to fulfil them, and help leverage these opportunities in the shortest possible time.
 The TenderNotice.com.np is user friendly and easy to use.
 You just have to go through the registration process and become a registered user. 
 After you are satisfied with trial, you need to become a paid member to be fully able to use the software. 
	  There are several payment methods that you can easily be a member. 
	  After you have become paid member you can view all the tender notices simply by logging in.
	  You can download, save, email and print the necessary tenders.
These numerous functions of TenderNotice.com.np makes it effective in tender management and help users to view all tender notices in one place making it easier in bidding process.
 Get Tenders related to your Product & Services Only.
  <h2>ABOUT US</h2>
 <P>Most Cost Effective Services.</P>
 <P>Client Centric Services</P>
 <P>Technology driven Processes - more Value added Services & Features</P>
 <P>Wide customer base from various Industries & Sector</P>
 <P>250 Man years of Hands-on Experience</P>
 <P>Focused core team</P>
 <P>Better Google Ranking & more Page views per day of our Portal helps our featured companies get noticed globally.</P>
 <P>Highest Client Loyalty Index</P>
 <P>The Only Portal providing Trade Analytics helping our clients to plan, Budget and Project their businesses</p> 
	 
	 <h2>WHY.... TENDERS?</h2> 
	 <P>-You can contact our customer care team via email, phone call or live chat to get assistance on tender/project, existing membership or any other queries/error faced by you.</P>
<P> -Get maximum verified business opportunities from all over nepal in form of Tenders.</P>
<P> -This is easiest way to expand your business.</P>
</P>-TendersInfo membership fees include access to unlimited searching, downloading available documents or tender alerts at no hidden cost</P>
<P> -You don't miss any new tender information.</P>
<P> -You can access all tenders information from your newsfeeds.</P>
<P> -Large database of various industries tenders.</P>
<P> -We are tracking maximum Tenders information from all sources on daily bases with help of intelligent data crawlers</P>
	<h2 class="title">SERVICES</h2>
	
	<h2>tender notice alert </h2>
	 <img src="images/demo/iconimage.png" alt="" width="70" height="50" class="imgl" />
      <p>As a registered user you'll get access to all relevant Tender Notices  for the product / service categories you are interested in.
	  You can view Tender Notice using our site,
	  register now to access our portal to get latest tender notice</p>
   
	 <h2>interest and availability</h2>
	 <img src="images/demo/iconimage.png" alt="" width="70" height="50" class="imgl" />
      <p>Bid and Tender issue process is one of the prime business activities related to procurement of goods and services in any institutions. 
	  In today's information technology driven business scenario,
	  the need for information on online bid and online tender environment is essential for both the public and private sector organization.</p>
        
		<h2>tender results</h2>
		<img src="images/demo/iconimage.png" alt="" width="70" height="50" class="imgl" />
      <p>You can use ..tender to track tender results. 
	  You can track your competitor activity as who has won tender, at which price, on what terms, who were other bidders, etc. 
 This information is very helpful as you can identify ongoing price at which tenders are being awarded, identifying next winning bid for future tender, find price trends over period of time, etc.
	  You'll have to be creative enough to use this information to your benefit. Let us know your requirement. on link..</p>
         
		 <h2>new tender information </h2>
		 <img src="images/demo/iconimage.png" alt="" width="70" height="50" class="imgl" />
      <p>....Tender tracks thousands of new tenders  announced by different users or private sector companies across NEPAL.
	  Which involves huge investment and hence offer a great business opportunity to supply. Hundreds of new tenders are added to our database on daily basis which translates into opportunities worth billions.
	  You can use this information be used to find new biz opportunities and to track investment plans too.</p>
		
		<h2>pre qualification terms </h2>
		 <img src="images/demo/iconimage.png" alt="" width="70" height="50" class="imgl" />
      <p> pre qualification conditions as specified in tender document, provided tender documents are available for free.
	  This way it becomes easier for you to decide to bid or not to bid in a tender, 
	  without you having to download the document or read it yourself.
	  The idea is to save a lot of your precious time, which you should be spending on winning contacts</p>
	  
	  <h2>terms and services </h2>
	  
		
       
	   <br class="clear" /> 
   <img class="imgl" src="images/demo/bitprices.PNG"  width="600" height="300" alt="" /></div>
     
    <div id="column">
      <div class="holder">
        <h2>follow us on</h2>
        <ul id="latestnews">
          <li><span class="last"><img src="images/demo/socialicon.PNG" alt="" width="100" height="70" class="imgl" /></span>
            <p><strong><a href="#">social media</a></strong></p>
            <p>Click our link.</p>
          </li>
        </ul>
      </div>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col7">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">Tender</a></p>
    <p class="fl_right"><a>Tender for Bid</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>