{% extends "layout.html" %}
{% block content %}
{% load static %}
<div class="wrapper col3">
    <div id="breadcrumb">
      <ul>
        <li class="first">You Are Here</li>
        <li>>></li>
        <li><a href="#">page</a></li>
        <li>>></li>
        <li class="current"><a href="#">FAQ Page</a></li>
      </ul>
    </div>
  </div>
  <div class="wrapper col5">
    <div id="container">
      <div id="content">
      <h2 class="title">TENDER FAQ QUESTIONS?</h2>
          <h2>How to change password? </h2>
          <p> Login with current User Credentials. Click on My Profile>>>My Account>>>Change Password</p>
      
          <h2>How to view/change contact detail of your profile? </h2>
       <P> Login with current User Credentials. Click on My Profile>>>May Account>>>Edit Profile </P>
        <h2>Can i download bid history ? </h2>
          <p> no, downloading bid history can result in illegal transaction. </p>
           <h2>can i see other users propfile detail ?</h2>
          <p> no, accessing others profile is restricted to avoid possible illegal activities , only admin can asses all user profiles </p>
          <h2>How to search tender? </h2>
       <P> Login with current User Credentials. Select Word Search from Search Criteria.
       By default "Keyword" would be there, need to click on "Keyword" to view other options of search. 
       In "Type Keyword" write exact spelling from the required tender's description and click on Search.
       You may search tenders by other criteria as well like City, State, Company</P>
       <h2>Can i upload new tenders ?</h2>
       <p> yes user can also upload new tenders, and explore other tenders from different user as well.</p>
          <h2> I am not satisfied with the decision on the tender award,where do I go to lodge my complaint?</h2>
  <P>If a bidder who is not satisfied with the decision on a tender made by any approved authority,  may challenge authority, by writing to the head of the respective organisation within ten working days from the date he was informed of or became aware of the decision</p>
          
       <h2> My bid was the lowest at bid opening, somebody else got the contract. Why was the contract not awarded to me?</h2>
          <p> Even though a bid is the lowest at bid opening,  if it is not responsive enough to become the best evaluated bid,it cannot be considered for the award of the contract.
  A substantially responsive bid shall be one that conforms to all the instructions, requirements, terms and conditions of the bidding documents, without material deviation, reservation or omission</p>
     
     <h2>How to change password? </h2>
          <p> Login with current User Credentials. Click on My Profile>>>My Account>>>Change Password</p>
          
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </ul>
        <div id="comments">
          <h2>Comments</h2>
          <ul class="commentlist">
            <li class="comment_odd">
              <div class="author"><img class="avatar" src="../images/demo/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">pooja pokhrel</a></span> <span class="wrote">wrote:</span></div>
              <div class="submitdate"><a href="#">march 23, 2020 at 11:30 am</a></div>
              <p>Yes, you can bookmark interested Tender to participate. When you bookmark any such tenders, you will get alert as the submission date approaches.</p>
            </li>
          </ul>
        </div>
        <h2>Write A FAQ?</h2>
        <div id="respond">
          <form action="#" method="post">
            <p>
              <input type="text" name="name" id="name" value="" size="22" />
              <label for="name"><small>Name (required)</small></label>
            </p>
            <p>
              <input type="text" name="email" id="email" value="" size="22" />
              <label for="email"><small>EMail (required)</small></label>
            </p>
            <p>
              <textarea name="comment" id="comment" cols="100%" rows="10"></textarea>
              <label for="comment" style="display:none;"><small>Comment (required)</small></label>
            </p>
            <p>
              <input name="submit" type="submit" id="submit" value="FAQ submit" />
      
            </p>
          </form>
        </div>
      </div>
      <div id="column">
        <div class="subnav">
          <h2>NEW BID</h2>          
                    <a href="#">Ministry Of Physical Infrastructure And Transport, Department of Railways, Rail, Metrorail and Monorail Development Project</a>
                    <a href="#">NMB Bank Limited, Projects and Strategic Sourcing Department, Baneshwor, Kathmandu</a>
            <a href="#">Nepal Electricity Authority, Province No. 1, Provincial Office, Biratnagar</a>
            <a href="#">B.P. Koirala Institute of Health Sciences, Dharan, Sunsari</a>
        </div>
        <div id="featured">
        <h2>find us now</h2>
          <ul id="latestnews">
            <li><span class="last"><img src="{% static 'image/socialicon.PNG' %}" alt="" width="150" height="100" class="imgl" /></span>
              <p><strong><a href="#">social media</a></strong></p>
              <p>Click our link.</p>
            </li>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}