                                    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="History.css">
    <title>Stories</title>
</head>
<body>
    <div class="container">

    <div class="side-bar">
        <h2>New Notices</h2>
        <p>You will see new updates here!</p>
        <div class="updates">
            <ul>
                <li> New Tender Projects</li>
                <li> New Tender Projects</li>
                <li> New Tender Projects</li>
                <li> New Tender Projects</li>
                <li> New Tender Projects</li>
            </ul>
            </div>
    </div>

    <div class="story">
            <div class="top_bar"><h3>SUCCESS STORIES</h3></div>
        <div class="img1"></div>
            <div class="Success_stories">
                <h3>This is the success story </h3>
                <p>It was very much important for Bill gates to heed the lessons of failure in comparison
                    
                    to celebrating the joy of success. This great entrepreneur who has established Microsoft 
                    like the biggest software company is a dropout student from Harvard. Furthermore,
                     he has also been known for his self-owned business figure known as Traf-O-Data which 
                     was one of the biggest failures in history. The entire investment of Bill Gates got
                      vanished and unfortunately, even the education could also not get completed. But, 
                      the keen desire and the passion for the computer programming based stuff led him to
                       establish such biggest software company with the brand name ‘Microsoft’.

                    </p>
            </div>
        <div class="img2"></div>
            <div class="Success_stories">
                <h3>This is the success story ...........</h3>
                <p>It was very much important for Bill gates to heed the lessons of failure in comparison
                    
                    to celebrating the joy of success. This great entrepreneur who has established Microsoft 
                    like the biggest software company is a dropout student from Harvard. Furthermore,
                     he has also been known for his self-owned business figure known as Traf-O-Data which 
                     was one of the biggest failures in history. The entire investment of Bill Gates got
                      vanished and unfortunately, even the education could also not get completed. But, 
                      the keen desire and the passion for the computer programming based stuff led him to
                       establish such biggest software company with the brand name ‘Microsoft’.

                    </p>
            </div>
        
        </div>
</div>
</body>
</html>