{% extends "layout.html" %}
{% block content %}
<div class="main">
    <section class="highlight">
        <article></article>
        <div class="highlight-img"></div>
    </section>
    <section class="info">
        <div class="category-search"></div>
        <div class="category-list"></div>
        <div class="government-notice"></div>
    </section>
    <section class="Tender">
        <div class="tender-ads">
            <div class="tender-img"></div>
            <div class="tender-text"></div>
        </div>
        <div class="tender-ads">
             <div class="tender-img"></div>
             <div class="tender-text"></div>
        </div>
        <div class="tender-ads">
             <div class="tender-img"></div>
             <div class="tender-text"></div>
        </div>
    </section>
    </div>
{% endblock %}
