<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>OpenTender || Nepal</title>
</head>
<body>
    <header>
        <div class="top">
            <div class="social-media">
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-facebook"></a>	
            </div>
            <div class="logo">
                <img src="logo.png" alt="">
            </div>
            <div class="btn">
                <button>&#x1F517; Join Us</button>
            </div>
        </div>
        <nav>
            <div class="menu">
                <a href="/">Headline</a>
                <a href="">About Us</a>
                <a href="">Notice</a>
                <a href="">News</a>
                <a href="">Tender</a>
            </div>
            <form class="search" action="">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">search</button>   
            </form>
        </nav>
        <div class="breaking-news">

        </div>
    </header>
    <div class="main">
       <section class="highlight">
           <article></article>
           <div class="highlight-img"></div>
       </section>
       <section class="info">
           <div class="category-search"></div>
           <div class="category-list"></div>
           <div class="government-notice"></div>
       </section>
       <section class="Tender">
           <div class="tender-ads">
               <div class="tender-img"></div>
               <div class="tender-text"></div>
           </div>
           <div class="tender-ads">
                <div class="tender-img"></div>
                <div class="tender-text"></div>
           </div>
           <div class="tender-ads">
                <div class="tender-img"></div>
                <div class="tender-text"></div>
           </div>
       </section>
    </div>
    <footer>

    </footer>
</body>
</html>