<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <title>OpenTender || Nepal</title>
    </head>
    <body>
        <div class="logo">
            <a href="/"><img src="{% static 'image/logo.png' %}" alt=""></a> 
        </div>
        <div class="login-form">
            <h1>Sign in</h1>
            <label >new user?</label>
             <a href="/signup"> create an account </a>
            <form action="/entry" method='POST'>
                {% load static %}
                {% csrf_token %}
                <label>Email Address</label><br>
                <input type="email" name="Email"  placeholder="Email" required="" ><br>
                <label>Password</label><br>
                <input type="password" name="Password" placeholder="Password" required="" ><br>
                <button>login</button>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </form>
            <p>
                <a href="#">Privacy?</a>  of one's are maintained under the rules and regulation of the company and government
            </p>
        </div>
    </body>
</html>