{% extends "layout.html" %}
{% block content %}
    <table>
        <caption>Current Tender Projects</caption>
        <tr>
            <th>SN no.</th>
            <th>Tender Description</th>
            <th>Publisher</th>
            <th>Date(Start - End)</th>
            <th>Detail Description</th>
            <th>Img</th>
            
        </tr>
        <tr>
            <td>1</td>
            <td>My Project</td>
            <td>Hitler</td>
            <td> 2/10/2020 - 6/23/2020</td>
            <td><a href="ContractInfo.html">Image and More</a></td>
            <td>
                <!--Image pop-up using script-->
                <img id="myImg" src="pic/img.jpg" alt="Contract" style="width:100%;max-width:30px">

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
            </td>
            
        </tr>
        <tr>
            <td>2</td>
            <td>Nepal Oil Cooperation</td>
            <td>Baama</td>
            <td> 2/16/2020 - 6/01/2020</td>
            <td><a href="ContractInfo.html">Image and More</a></td>
            
        </tr>
        <tr>
            <td>3</td>
            <td>Football Stadium</td>
            <td>Trump</td>
            <td> 04/16/2019 - 02/01/2020</td>
            <td><a href="ContractInfo.html">Image and More</a></td>
            
        </tr>
        <tr>
            <td>4</td>
            <td>Melamchi Hydropower Project</td>
            <td>KP Oli</td>
            <td> 04/16/2015 - 04/01/2020</td>
            <td><a href="ContractInfo.html">Image and More</a></td>
            
        </tr>
        <tr>
            <td>5</td>
            <td>Railway Nepal</td>
            <td>Si Zing Ping</td>
            <td> 04/16/2010 - 05/01/2020</td>
            <td><a href="ContractInfo.html">Image and More</a></td>
            
        </tr>
        <tr>
            <td>6</td>
            <td>Farming/Agriculture Nepal</td>
            <td>Agriculture Minister</td>
            <td> 04/16/2012 - 05/06/2020</td>
            <td><a href="ContractInfo.html">Image and More</a></td>
            
        </tr>
        <tr>
            <td>7</td>
            <td>Cable Car Nepal</td>
            <td>Pushpakamal Dahal</td>
            <td> 06/16/2010 - 05/01/2020</td>
            <td><a href="ContractInfo.html">Image and More</a></td>
            
        </tr>
        <tr>
            <td>8</td>
            <td>Roadways Nepal</td>
            <td>KP Baa</td>
            <td> 01/16/2010 - 05/01/2020</td>
            <td><a href="ContractInfo.html">Image and More</a></td>
            
        </tr>
    </table>

    <div class="bottom_container">
        <h2>Advertisement is shown here in slide slow</h2>
        <div class="add_show">
            
        </div>

    </div>
{% endblock %}