{% extends "dashboard.html" %}
{% block content %}
{% load static %}
<section class="page-content">
    <h1>Upload Your Tender Post</h1>
    <form class="upload-form" method="post" action="/upload" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="Tender_Name">Tender_Name</label>   <br>
        <input type="text" name="Tender_Name" id="Tender_Name"><br>
        <label for="Status"> Status</label> <br>
        <select name="Status" id="Status">
            <option value="live">Live</option>
            <option value="dead">Dead</option>
        </Select><br>
        <label for="">Date</label><br>
        <input type="date" name="Date" id="Date"><br>
        <label for="Tender_Type"> Tender type</label><br>
        <Select name="Tender_Type" id="Tender_Type">
            <option value="Open">Open</option>
            <option value="Close">Close</option>
        </Select><br>
        <label for="Business_Scale"> Business Scale</label><br>
        <Select name="Business_Scale" id="Business_Scale">
            <option value="Large">Large</option>
            <option value="Medium">Medium</option>
            <option value="Small">Small</option>
        </Select><br>
        <label for="">Entry_Fee</label><br> 
        <input type="number" name="Entry_Fee" id="Entry_Fee" ><br>
        <label for=""> Rules_Regulation</label><br>
        <input type="text" name="Rules_Regulation"><br>
        <label for="">Tender_Image</label> <br> 
        {{post_form.Tender_Image}} <br>
        <button>upload</button> 
    </form>
</section>
{% endblock %}
